*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-derif;
	margin: 30px;
	font-size: 13px;
}

table, [data-field="basic-info-block"], [data-field="add-ticker"] {
	min-width: 300px;
	margin: 0 10px 5px 10px;
}

table td, table th {
	border-collapse: collapse;
	height: 30px;
}
/*
thead tr{
	background: #82DAFF !important;
}
*/
table tr:nth-child(even) {
  background: #E7EAEB;
}

[data-field="safe-margin-ratio"] {
	min-width: 55px;
}

#tickers, #ticker-count{
	padding: 5px;
}

#ticker-input{
	text-transform: uppercase;
	padding: 1px 0 5px 5px;
}

.btn {
	font-size: 13px;
}

.top-k-sm-ticker, .top-k-sm-strik, .top-k-sm-arorc{
	min-width: 40px;
	text-align: left;
	display: inline-block;
	text-align: center;
}

.top-k-sm-arorc, .top-k-sm-strik{
	min-width: 80px;
}

.top-k-sm{
	min-width: 230px;
}